body
{
    padding: 0;
    margin: 0;
    background: rebeccapurple;
}

.main{
    width: 800px;
    height: 800px;
    border:1px solid red;
}
.main h3{
    vertical-align: middle;
    text-align: center;
}
.imgContainer
{
    display: inline-block;
}